* {
  border: none;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 18px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  background: #1b1b1b;
}

#workspaces button{
    color: #ffffff;
}

#clock, #backlight, #pulseaudio, #network, #battery {
  color: #ffffff;
  padding-right: 5px;
  margin-right: 15px;
}

#clock {
    margin-left:7px;
}
